* {
    transition-duration: .3s !important;
}

/* Notes Header */
.notes_header .add_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.notes_header .add_btn:hover {
    background-color: #000;
    color: #fff;
}

.notes_header .add_btn:active {
    box-shadow: none;
}

/* Notes Card */
.notes_card {
    height: 250px;
    border-radius: 8px;
    display: flex;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    color: white;
    font-family: "system-ui";
}

/* Content */
.notes_content {
    flex-grow: 1;
}

/* Footer */
.notes_footer .delete_btn:hover {
    transform: scale(1.1);
    transition: transform .3s;
}

.notes_footer .delete_btn:focus {
    box-shadow: none !important;
}

.notes_footer .delete_btn i {
    font-weight: bold;
}