.notes_container * {
    transition-duration: .2s !important;
}

/* Notes Header */
.notes_header .add_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.notes_header .add_btn:hover {
    background-color: #000;
    color: #fff;
}

.notes_header .add_btn:active {
    box-shadow: none;
}

/* ----------------------- */

/* Notes Card */
.notes_card {
    height: 250px;
    border-radius: 8px;
    display: flex;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    color: white;
    font-family: "system-ui";
}

/* Content */
.notes_content {
    flex-grow: 1;
}

/* Footer */
.notes_footer .delete_btn:hover {
    transform: scale(1.1);
    transition: transform .3s;
}

.notes_footer .delete_btn:focus {
    box-shadow: none !important;
}

.notes_footer .delete_btn i {
    font-weight: bold;
}

/* ----------------------- */


/* add notes */
.modal {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    animation: modalPop 0.3s ease-in-out;
}

@keyframes modalPop {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.add_note_title{
    box-shadow: none !important;
}

.add_note_title:focus {
    box-shadow: none !important;
}

.add_note_color_options button {
    width: 25px;
    height: 20px;
    margin-left: 2px;
}

.add_note_color_options button:focus {
    box-shadow: none !important;
}
.add_note_color_options .selected {
    border: 3px solid #aaa;
}

.add_note_content:focus{
    box-shadow: none !important;
}

/* ----------------------- */